# Importing Libraries

In [8]:
import pandas as pd
import scipy.stats as stats

# Importing Datasets

In [3]:
lab_data=pd.read_csv('LabTAT.csv')
lab_data.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

# Performimg initial Analysis

In [4]:
lab_data.shape

(120, 4)

In [5]:
lab_data.describe()

       Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
count    120.000000    120.000000    120.000000     120.00000
mean     178.361583    178.902917    199.913250     163.68275
std       13.173594     14.957114     16.539033      15.08508
min      138.300000    140.550000    159.690000     124.06000
25%      170.335000    168.025000    188.232500     154.05000
50%      178.530000    178.870000    199.805000     164.42500
75%      186.535000    189.112500    211.332500     172.88250
max      216.390000    217.860000    238.700000     205.18000

### Separating Different features for statistical Test

In [7]:
lab_1=lab_data['Laboratory 1']
lab_2=lab_data['Laboratory 2']
lab_3=lab_data['Laboratory 3']
lab_4=lab_data['Laboratory 4']

### Null HYpothesis- There is difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list
### Alternate Hypothesis - There is no difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list

# Performimg Ststistical Tests
### Here we have multiple samples of Quantitative type data so we are performing ANOVA Test

In [9]:
from scipy.stats import f_oneway

In [12]:
test_score,p_value=f_oneway(lab_1,lab_2,lab_3,lab_4)

In [13]:
print('test_score {}\np_value {}.'.format(test_score,p_value))

test_score 118.70421654401437
p_value 2.1156708949992414e-57.

In [17]:
if p_value<0.05:
    print('There is no difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list')
else:
    print('There is difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list')

There is no difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list